<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}

    <title>AST Coal Serving</title>
</head>

<body>
    {{>navbar}}

    <div class="banner">
        <div class="container transparent-bg">
            <h1 class="heading">About Us</h1>
            <p class="content">AST-Coal is a leading pure-play producer and exporter of high quality, low-cost thermal
                coal in South Africa.</p>
        </div>
    </div>
    <div class="links-bar">
        <a href="/" class="active">Home</a>&nbsp;<span>/</span>&nbsp;<a href="/about-us" class="active">About Us</a>
    </div>

    <div class="container center_text about_cen">
        <h2>South Africa’s leading thermal coal exporter</h2>
        <p>AST-Coal is a new name in the mining industry that is rich in history. The company was formed when the South
            African thermal coal operations demerged from Anglo American and listed on the JSE and LSE in June 2023.
        </p>
    </div>

    <div class="container purpose_smt_sec">
        <h2>Purpose of the Company</h2>
        <p>The AST Coal Limited is a subsidiary company of Anglo Southern Tractors Ltd. <br> <br></p>
        <p>Our main objective is to provide high quality, reliable and affordable products. We are committed to
            maintaining a strong reputation for
            is an independent, full service supplier to all customers throughout South Africa and beyond for
            was established to serve as an export hub for high quality.</p>

        <div class="box-container">
            <div class="box">
                <h3>How We Do It</h3>
                <p class="content">We are uncompromising in our commitment to safety, and relentlessly uphold the highest standards across all operations. We identify with a culture of positive outcomes and who share that view</p>
            </div>
            <div class="box">
                <h3>What We Do</h3>
                <p class="content">We create value by focusing on our strategic and shared ambitions, and our related priorities. We hold the view that everyone has a role to play in value creation.</p>
            </div>
            <div class="box">
                <h3>Why We Do It</h3>
                <p class="content">When we create value together, we realise a better future for our employees, host communities, shareholders and society.</p>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="./js/script.js"></script>

</body>

</html>