<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}

    <title>AST Coal Serving</title>
</head>

<body>
    {{>navbar}}


    <div class="container banner_section">
        <h1>AST, a leading</h1>
        <h1>South African</h1>
        <h1>thermal coal</h1>
        <h1>exporter</h1>
        <button class="play_btn"><i class="fa fa-play"></i> Play Video</button>
    </div>

    <div class="container center_text">
        <h2>Responsibly creating value together for a shared future</h2>
        <p>AST-Coal is a leading pure-play producer and exporter of high quality, low-cost thermal coal in South Africa.
            As a responsible thermal coal miner, we recognise society’s ongoing needs and environmental expectations.
        </p>
    </div>

    <div class="container">
        <div class="bg-container">
            <div class="transparent-bg">
                <div class="content">
                    <h2>About AST-Coal</h2>
                    <p>AST-Coal Resources Limited is a new name in the mining industry that is steeped in history.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container sustainability-cont">
        <h2>Our Sustainable Approach Test</h2>
        <div class="box-cont">
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-2.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Enviroment</h3>
                        <a class="btn_read" href="#">Read&nbsp;More</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-1.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Health &amp; Sefty</h3>
                        <a class="btn_read" href="#">Read More</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-3.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Enviromental Complience</h3>
                        <a class="btn_read" href="#">Read&nbsp;More</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
     <div class="container">
        <div class="bg-container bg2">
            <div class="transparent-bg">
                <div class="content">
                    <h2>Investor Information</h2>
                    <p>View latest financial results, read reports and industry experts reviews.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container card-container">
        <h2>In The Press</h2>
        <div class="row">
            <div class="box">
                <div class="image">
                    <img src="./images/box-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3><a href='#'>Lorem Ipsum Dolor Sit Amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, or
                        cibus nibh elementum.</p>
                    <div class="btn">
                        <a href="#">Media Release</a>
                        <a href="#">Press Release</a>
                    </div>

                    <span><strong>Posted on:</strong> 29 August 2023</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/box-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3><a href='#'>Lorem Ipsum Dolor Sit Amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, or
                        cibus nibh elementum.</p>
                    <div class="btn">
                        <a href="#">Media Release</a>
                        <a href="#">Press Release</a>
                    </div>

                    <span><strong>Posted on:</strong> 29 August 2023</span>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="./images/box-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3><a href='#'>Lorem Ipsum Dolor Sit Amet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, or
                        cibus nibh elementum.</p>
                    <div class="btn">
                        <a href="#">Media Release</a>
                        <a href="#">Press Release</a>
                    </div>

                    <span><strong>Posted on:</strong> 29 August 2023</span>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="./js/script.js"></script>

</body>

</html>