<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}

    <title>AST Coal Serving</title>
</head>

<body>
    {{>navbar}}

    <div class="banner">
        <div class="container transparent-bg">
            <h1 class="heading">Sustainability</h1>
            <p class="content">Our ESG approach supports our purpose “to create value together for a shared future
                responsibly”.</p>
        </div>
    </div>
    <div class="links-bar">
        <a href="/" class="active">Home</a>&nbsp;<span>/</span>&nbsp;<a href="/about-us"
            class="active">Sustainability</a>
    </div>

    <div class="container center_text about_cen">
        <h2>A robust ESG framework underpins our licence to operate. </h2>
        <p>Establishing and committing to a comprehensive ESG framework with associated targets, is one of Thungela’s
            five strategic focus areas. The others include, eliminating mining fatalities, creating operational
            excellence, being a lean organisation able to make fast decisions, and building and nurturing an effective
            supply chain.</p>
        <br><br>
        <p>Our ESG framework is fit for purpose and focuses on three pillars: environmental stewardship, creating shared
            value for our stakeholders and responsible decision making and leadership. Each of these pillars are
            supported by our values and code of conduct and are underpinned by core priorities of robust management
            systems, open and engaged leadership, and a commitment to effective and transparent stakeholder engagement.
        </p>
    </div>
    <div class="container sustainability-cont">
        <h2>More About Sustainability</h2>
        <div class="box-cont">
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-2.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Enviroment</h3>
                        <a class="btn_read" href="#">Read&nbsp;More</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-1.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Health &amp; Sefty</h3>
                        <a class="btn_read" href="#">Read More</a>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="./images/card-image-3.jpg" alt="" width="100%">
                    <div class="sec_">
                        <h3>Enviromental Complience</h3>
                        <a class="btn_read" href="#">Read&nbsp;More</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {{>footer}}
    <script src="./js/script.js"></script>

</body>

</html>