<footer>
    <div class="container footer_container">
        <h3 id="main_logo"><span>A</span>ST&nbsp;<span>C</span>oal</h3>
        <div class="right_side">
            <div class="contact_container">
                <div class="contact_list">
                    <h4 class="heading">Contact</h4>
                    <h2>PHYSICAL ADDRESS</h2>
                    <p>25 Bath Avenue, Rosebank,</p>
                    <p>Johannesburg, 2196</p>
                    <p>South Africa</p>
                    <p>Switchboard: <a href="#">+27 (0) 11 638 9300</a></p>
                </div>
                <div class="contact_list">
                    <h2>PO BOX</h2>
                    <p>PO Box 1521, Saxonwold</p>
                    <p>Johannesburg, 2132</p>
                    <p>South Africa</p>
                </div>
            </div>
            <div class="social_liks">
                <h4 class="heading">Connect&nbsp;with&nbsp;us:</h4>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_content">

</div>
