@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: #c41d34;
$color2: #373737;
$color3: #222220;
$color4: #ed3850;
$color5: #DBDBDB;

$font1: 'Josefin Sans', sans-serif;

html {
    font-size: 62.8%;
}

a {
    text-decoration: none;
}

.container {
    padding: 50px;
}

.banner {
    width: 100%;
    height: 400px;
    background: url('../Images/bg-2.jpg')no-repeat center center/ cover;

    .transparent-bg {
        width: 100%;
        height: 100%;
        background: #0000008c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 250px !important;

        h1.heading {
            font-family: $font1;
            font-size: 6.5rem;
            color: $color1;
        }

        p.content {
            font-family: $font1;
            color: #fff;
            font-size: 2.5rem;
            margin-top: 20px;
        }
    }
}

.links-bar {
    width: 100%;
    padding: 25px 150px;
    vertical-align: center;
    background: $color2;
    color: #fff;
    font-family: $font1;
    font-size: 15px;

    span {
        cursor: default;
    }

    a {
        color: #fff;
        letter-spacing: .8px;

        &:nth-child(1) {
            color: $color4;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 2px;
                background: $color4;
                transform-origin: left;
                transform: scale(0);
                transition: all .3s ease;
            }

            &:hover::before {
                transform: scale(1);
            }
        }
    }
}

h3#main_logo {
    font: 400 3rem $font1;
    color: #fff;

    span {
        color: $color1;
        font-size: 3.3rem;
    }
}

nav.navbar {
    height: 80px;
    padding: 0 20px;
    background: $color2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    @media screen and (max-width: 1120px) {
        
    }
    ul.nav_list {
        margin: auto;
        display: flex;
        list-style: none;
        justify-content: space-between;
        height: 100% !important;
        align-items: center;
        padding: 0;

        @media screen and (max-width: 1120px) {
            width: 100%;
            flex-direction: column;
            text-align: left;
        }

        li {
            margin-right: 10px;
            position: relative !important;

            a {
                font: 400 1.8rem $font1;
                color: #fff;
                text-decoration: none;
                padding: 0 10px;
                padding-top: 40px;
                padding-bottom: 40px;

                &:hover {
                    color: $color4;
                }
            }

            .dropdown_list {
                background: $color3;
                position: absolute;
                top: 247%;
                left: 0;
                border-top: 3px solid $color4;
                text-align: left;
                z-index: 6;
                display: none;


                li {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    list-style: none;

                    a {
                        padding: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        display: flex;
                        text-transform: capitalize;
                    }

                }

            }

            &:hover {
                a {
                    background: $color3 !important;
                }

                .dropdown_list {
                    display: block;

                    li a {
                        background: $color2;
                    }
                }
            }
        }
    }

    .other_btn {
        display: flex;
        align-items: center;

        a {
            padding: 12px 35px;
            background: $color1;
            color: #fff;
            border-radius: 20px;
            font: 1.5rem $font1;
            text-decoration: none;
        }

        button {
            padding: 10px;
            font-size: 1.5rem;
            border-radius: 20px;
            border: 2px solid #fff;
            background: transparent;
            color: #fff;
            margin-left: 10px;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                background: #fff;
                color: $color3;
            }
        }
    }

    .search_bar {
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 80px;
        left: 0;
        background: #222220b1;
        transition: all .3s;
        top: -100px;

        form {
            width: 100%;

            input {
                width: 80%;
                height: 40px;
                font: 15px $font1;
                padding-left: 15px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 2px solid $color4;
            }

            button {
                font: 18px $font1;
                height: 40px;
                text-align: left;
                width: 80px;
                padding-left: 5px;
                background: $color4;
                color: #fff;
                position: relative;
                left: -7px;
                bottom: -1px;
                border: 2px solid $color4;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }

        button.fa-times {
            background: transparent;
            padding: 10px 12px;
            border: 3px solid #fff;
            color: #fff;
            border-radius: 50%;
            font-size: 17px;
            cursor: pointer;

            &:hover {
                background-color: #fff;
                color: $color3;
            }
        }

        &.open_search_bar {
            top: 0;
        }
    }
}

.container {
    padding: 70px;

    &.banner_section {
        height: 90vh;
        width: 100%;
        background: url("../Images/home_banner.jpg") no-repeat center center/ cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background: rgba($color: #000000, $alpha: .4);
            z-index: 0;
        }

        h1,
        button {
            z-index: 2;
        }

        h1 {
            font-size: 7rem;
            font-family: $font1;
            color: $color1;

            &:nth-child(2) {
                color: #fff;
            }
        }

        button {
            background: $color1;
            margin-top: 40px;
            color: #fff;
            padding: 20px 40px;
            border: none;
            cursor: pointer;
            border-radius: 50px;

            i {
                margin-right: 10px;
            }
        }
    }

    .bg-container {
        width: 100%;
        height: 400px;
        background: url('../Images/bg-2.jpg')no-repeat center center/ cover;
        &.bg2 {
            background: url('../Images/bg-3.jpg') no-repeat center center / cover;
        }
        .transparent-bg {
            width: 100%;
            height: 100%;
            background: #00000084;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                text-align: center;
                font-family: $font1;

                h2 {
                    font-size: 4.5rem;
                    padding: 0 280px;
                    color: #fff;
                    margin-bottom: 40px;
                    font-weight: 700;
                }

                p {
                    padding: 0 400px;
                    color: #fff;
                    font-size: 2.4rem;
                    margin-bottom: 40px;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    background: $color1;
                    padding: 15px 20px;
                    font-size: 17px;
                    border-radius: 20px;
                }
            }
        }
    }

    &.card-container {
        font-family: $font1;
        background: $color5;

        h2 {
            text-align: center;
            color: $color2;
            font: bold 4rem $font1 !important;
        }

        .row {
            display: flex;
            justify-content: space-between;

            .box {
                background: #fff;
                box-shadow: 1px 1px 40px rgba($color: #3f3f3f, $alpha : .3);
                margin: 20px;
                width: 400px;

                .image {
                    width: inherit;
                    height: 250px;
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all .8s ease;
                        cursor: pointer;

                        &:hover {
                            scale: 1.3;
                        }
                    }
                }

                .content {
                    padding: 20px;

                    h3 {
                        font-size: 3.4rem;
                        margin-bottom: 20px;
                        text-transform: uppercase;

                        a {
                            color: $color2;
                        }
                    }

                    p {
                        margin-bottom: 20px;
                        font-size: 1.9rem;
                        color: $color2;
                    }

                    .btn {
                        margin-bottom: 20px;

                        a {
                            padding: 5px 10px;
                            background: $color3;
                            color: #fff;
                            border-radius: 20px;
                            font-size: 1.5rem;
                        }
                    }

                    span {
                        font-size: 1.5rem;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    &.purpose_smt_sec {
        background: $color1;
        font-family: $font1;

        h2 {
            color: $color3;
            font-family: $font1;
            font-size: 4rem;
            text-align: center;
            margin-bottom: 10px;
        }

        &>p {
            color: $color3;
            font-family: $font1;
            font-size: 1.7rem;
            text-align: center;
            padding: 0 200px;
            font-weight: 600;
        }

        .box-container {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box {
                background-color: #fff;
                width: 300px;
                height: 300px;
                padding: 30px;
                text-align: center;
                box-shadow: 1px 1px 30px rgba($color: #000000, $alpha: .4);

                h3 {
                    font-size: 3.5rem;
                    color: $color1;
                }

                p {
                    font-size: 1.7rem;
                    margin-top: 50px;
                }
            }
        }
    }

    &.sustainability-cont {
        background: #ddd;

        h2 {
            font-size: 4rem;
            font-family: $font1;
            color: $color3;
            text-align: center;
            margin-bottom: 40px;
        }

        .box-cont {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box {
                height: 400px;
                width: 400px;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                flex-direction: column;
                box-shadow: 1px 1px 30px rgba($color: #000000, $alpha: .4);
                transition: all .3s ease;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: #000;
                    height: 100%;
                    width: 100%;
                    z-index: 3;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &:hover::after {
                    opacity: 0.5;
                }

                &:hover {
                    img {
                        scale: 1.4;
                    }
                }

                img {
                    position: absolute;
                    scale: 1.2;
                    z-index: 2;
                    transition: all .3s ease;
                }

                .sec_ {
                    z-index: 4;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    text-align: center;

                    h3 {
                        font-size: 3.8rem;
                        font-weight: bold;
                        letter-spacing: -1px;
                        margin-bottom: 10px;
                        color: white;
                        font-family: $font1;
                    }

                    a.btn_read {
                        margin-bottom: 30px;
                        padding: 10px 120px;
                        border: 3px solid $color1;
                        color: $color1;
                        font-size: 20px;
                        font-family: $font1;
                        font-weight: 700;
                        border-radius: 20px;

                        &:hover {
                            background: $color1;
                            color: #aaa;
                        }
                    }
                }
            }
        }
    }

    &.footer_container {
        background: $color3;
        border-top: 5px solid $color1;
    }
}

.center_text {
    text-align: center;
    font-family: $font1;
    background: $color3;

    h2 {
        font-size: 4.5rem;
        padding: 0 280px;
        margin-bottom: 30px;
        color: $color1;
    }

    p {
        padding: 0 200px;
        color: #fff;
        font-size: 2.4rem;

    }
}

.center_text.about_cen {
    background: #fff;

    h2 {
        font-size: 4.5rem;
        padding: 0 280px;
        margin-bottom: 30px;
        color: $color2;
    }

    p {
        padding: 0 200px;
        color: $color2;
        font-size: 2.4rem;

    }
}

/*
=====================================================
Footer Section
=====================================================
*/
footer {
    .footer_container {
        width: 100%;
        display: flex;
        align-items: center;

        .right_side {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .contact_container {
            margin-left: 50px;
            width: inherit;
            font-family: $font1;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .contact_list {
                h4 {
                    color: #fff;
                    margin-bottom: 20px;
                    font: 600 1.7rem $font1;
                }

                h2 {
                    color: $color4;
                    font-size: 2.1rem;
                    margin-bottom: 20px;
                }

                p {
                    text-align: left;
                    color: #fff;
                    font-size: 1.6rem;
                    margin-top: 2px;
                    font-family: $font1;

                    a {
                        color: $color4;

                        &:hover {
                            border-bottom: solid thin rgb(255, 255, 255);
                            transition: all ease 0.5s;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .social_liks {
            h4 {
                color: #fff;
                margin-bottom: 20px;
                font: 600 1.7rem $font1;
            }

            a {
                color: #fff;
                font-size: 1.6rem;
                margin-top: 2px;
                font-family: $font1;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}